<a href="https://colab.research.google.com/github/OmarFloresPTY/my-google-colabs/blob/master/expresiones_regulares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expresiones Regulares - Módulo Re

In [ ]:
import re

## Método Search()

Este método permite buscar si el patrón se encuentra en alguna parte de la cadena. Una ventaja de usar este método es que nos permite buscar en cadenas muy largas un patrón.

In [ ]:
cadena = "Vamos a aprender expresiones regulares en Python. Python es un lenguaje de sintaxis sencilla"
textoBuscar ="Python"

In [ ]:
textoEncontrado = re.search(textoBuscar,cadena)

In [ ]:
print(re.search(textoBuscar,cadena))

<re.Match object; span=(42, 48), match='Python'>

In [ ]:
if re.search(textoBuscar,cadena) is not None:
  print("He encontrado el texto")
else:
  print("No he encontrado el texto")

He encontrado el texto

In [ ]:
print(textoEncontrado.start()) #Nos muestra el número de caracter donde empezar a buscar el textoEncontrado
print(textoEncontrado.end())#Nos muestra el número de caracter donde termina de buscar el textoEncontrado
print(textoEncontrado.span())#Nos genera una tupla con el inicio y el final donde empezó a buscar el texto

42
48
(42, 48)

In [ ]:
print(re.findall(textoBuscar,cadena)) #Nos genera una lista con las coincidencias

['Python', 'Python']

## Metacaracteres



---


Los metacaracteres nos permiten realizar consultas e indicar cantidades en nuestras expresiones regulares:


*   ^ : Indica que la búsqueda se realizará al inicio de la cadena.
*   $ : Indica que la búsqueda se realizará al final de la cadena.


*   +: Significa que lo que tengamos a la izquierda de este signo puede aparecer UNA ó MÁS VECES.
*   *: Significa que lo que tengamos a la izquierda de este signo puede aparecer CERO ó MÁS VECES.
* ?: Indica opcionalidad, es decir, lo que tengamos a la izquierda puede o no aparecer (puede aparecer 0 ó 1 veces)
* {}: Indica el número de veces exacto que puede aparecer el carácter de la izquierda, o bien un rango de veces que pueda aparecer. {rango-inferior,rango-superior}



---

In [ ]:
lista_nombres = ['Ana Gómez','María Martín','Sandra López','Santiago Martín','Luz Solimar']

In [ ]:
for nombre in lista_nombres:
  if re.findall('^San.',nombre): #Buscar nombre que comienza con San.
    print(nombre)
  if re.findall('mar$',nombre): #Buscar nombre que termine con mar.
    print(nombre)
  if re.findall('Martín$',nombre): #Buscar nombre que termine con Martín.
    print(nombre)

María Martín
Sandra López
Santiago Martín
Santiago Martín
Luz Solimar

In [ ]:
dominios = [
    "htpp://www.google.com",
    "htpp://www.facebook.com",
    "ftp://www.amazon.es",
    "htpp://www.twitter.com",
    "htpp://www.instagram.com",
    "ftp://www.linkedin.com",
    "htpp://www.youtube.es",
    "ftp://www.reddit.com",
    "ftp://www.wikipedia.org",
    "ftp://www.stackoverflow.com"
]

In [ ]:
for dominio in dominios:
  if re.findall('^htpp://.+es',dominio):
    print(dominio)

htpp://www.youtube.es

In [ ]:
lista_familia = ['Madre','Padre','Hijo','Hija','Abuelo','Abuela']

In [ ]:
for familiar in lista_familia:
  if re.findall('Hij[oa]',familiar):
    print(familiar)

Hijo
Hija

## Rangos

In [ ]:
lista_nombres = ['Dante','Gerardo','Elmer','Louis','Omar','Encarnación','Alexandra']

In [ ]:
for nombre in lista_nombres:
  if re.findall('^[L-O]',nombre):#Imprime nombre que empieza en un rango de O-L
    print(nombre)
  if re.findall('[a-e]$',nombre): #Imprime nombre que termina en una letra en un rango de a-e
    print(nombre)

Dante
Louis
Omar
Alexandra

In [ ]:
lista = ['Ma1','Se1','Ma2','Ba1','Ma3','Va1','Va2','Ma4','MaA','Ma5','MaB','Ma:C','Ma:D','Ma:E']

In [ ]:
for elemento in lista:
  if re.findall('Ma[2-5]',elemento):
    print(elemento)

Ma2
Ma3
Ma4
Ma5

In [ ]:
for elemento in lista:
  if re.findall('Ma[2-5A-B]',elemento):
    print(elemento)

Ma2
Ma3
Ma4
MaA
Ma5
MaB

In [ ]:
for elemento in lista:
  if re.findall('Ma[.:]',elemento):
    print(elemento)

Ma:C
Ma:D
Ma:E

## Función Match()

La función Match() busca patrones siempre al comienzo de una cadena de strings.

In [ ]:
nombre1 = "Leo Messi"
nombre2 = "leo Messi"
nombre3 = "Cristiano Ronaldo"
nombre4 = "Alexia Putella"

In [ ]:
if re.match("Leo",nombre1):
  print("Encontrado")
else:
  print("NO Encontrado")

Encontrado

In [ ]:
if re.match("Leo",nombre2,re.IGNORECASE): #El IGNORECASE ignora si el patron de busqueda es "MAY" o "min".
  print("Encontrado")
else:
  print("NO Encontrado")

Encontrado

In [ ]:
if re.match(".eo",nombre1):
  print("Encontrado")
else:
  print("NO Encontrado")

Encontrado

### Secuencias Disponibles

* “\d”: un dígito. Equivale a [0-9]
* “\D”: cualquier carácter que no sea un dígito. Equivale a [^0-9]
* “\w”: cualquier caracter alfanumérico. Equivale a [a-zA-Z0-9_]
* “\W”: cualquier carácter no alfanumérico. Equivale a [^a-zA-Z0-9_]
* “\s”: cualquier carácter en blanco. Equivale a [\t\n\r\f\v]
* “\S”: cualquier carácter que no sea un espacio en blanco. Equivale a [^ \t\n\r\f\v]

In [ ]:
cadena1= "Jara López"
cadena2= "1234413213"
cadena3= "a12331"

In [ ]:
if re.match("\d",cadena2):
  print("Encontrado el número")
else:
  print("NO Encontrado")

Encontrado el número

## Ejemplos Prácticos

1. Válidar el formato de un correo.

In [ ]:
correos = ["oafo2699@gmail.com","martinJr@outlook.com","21jm","mariodeLuke12@gmail.es"]

In [ ]:
for correo in correos:
  if re.match("[a-z0-9]+@(gmail|outlook|hotmail)(.com|.es)",correo,re.IGNORECASE):
    print("El formato es válido: ",correo)
  else: 
    print("El formato NO es válido: ",correo)

El formato es válido:  oafo2699@gmail.com
El formato es válido:  martinJr@outlook.com
El formato NO es válido:  21jm
El formato es válido:  mariodeLuke12@gmail.es

2. Validar el DNI de una persona.

In [ ]:
DNI = '13-122-1233'

In [ ]:
if re.match("[0-9]{1,2}-[0-9]{1,5}-[0-9]{1,5}",DNI):
  print("El formato es correcto")
else: 
  print("El formato no es correcto")

El formato no es correcto

3. Encontrar el Valor Sub Total de una Factura.

In [ ]:
factura = """
** FACTURA FERRETERIA HMNOS. MARIO. **
Descripción | Cantidad | Precio
Bloques       2           8.99
Cementos      4           7.34
Tejas         6           4.23
Palas         3           6.77

Sub Total: 93.03
Metodo de pago: Tarjeta VISA
Fecha: 24/05/2023
"""

In [ ]:
print(factura)

In [ ]:
if re.search("Sub Total: [0-9]+.[0-9]{2}",factura,re.IGNORECASE):
  print("Encontramos el Sub Total")
else: 
  print("La factura no tiene Sub Total")

Encontramos el Sub Total

In [ ]:
sub_total = re.findall("Sub Total: [0-9]+.[0-9]{2}",factura,re.IGNORECASE)
print(sub_total)

['Sub Total: 93.03']

### Otros usos de las Expresiones Regulares

El método split() divide la cadena utilizando el patrón dado.

In [ ]:
split1 = re.split("Sub Total: [0-9]+.[0-9]{2}",factura)
print(*split1)

** FACTURA FERRETERIA HMNOS. MARIO. **
Descripción | Cantidad | Precio
Bloques       2           8.99
Cementos      4           7.34
Tejas         6           4.23
Palas         3           6.77


Metodo de pago: Tarjeta VISA
Fecha: 24/05/2023

La función sub() toma como parámetro un patrón a sustituir, una cadena que usar como reemplazo cada vez que encontremos el patrón, la cadena sobre la que realizar las sustituciones, y un entreo opcional indicando el número máximo de sustituciones.

In [ ]:
sub1 = re.sub("Sub Total: [0-9]+.[0-9]{2}","Sub Total: 93.03 $",factura)
print(sub1) #Factura actual modificada.
#print(factura) #Factura anterior.

** FACTURA FERRETERIA HMNOS. MARIO. **
Descripción | Cantidad | Precio
Bloques       2           8.99
Cementos      4           7.34
Tejas         6           4.23
Palas         3           6.77

Sub Total: 93.03 $
Metodo de pago: Tarjeta VISA
Fecha: 24/05/2023