<a href="https://colab.research.google.com/github/OmarFloresPTY/my-google-colabs/blob/master/02_Pandas_annotations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10 minutes to pandas üêºüìöüêç

In [2]:
import numpy as np
import pandas as pd

## Object Creation

In [3]:
s = pd.Series([1,3,4,np.nan,6,8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.330763 -0.306090  1.402532 -0.919413
2013-01-02 -0.878666 -0.312819  0.091059 -1.151448
2013-01-03 -0.051919 -0.900668 -0.490328  1.583178
2013-01-04  0.464882 -1.325479 -0.219572 -0.857153
2013-01-05  0.816908  0.456139  0.589122  0.882286
2013-01-06  0.321074 -1.408252  0.388228  1.289798