<a href="https://colab.research.google.com/github/OmarFloresPTY/my-google-colabs/blob/master/02_Pandas_annotations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10 minutes to pandas üêºüìöüêç

In [2]:
import numpy as np
import pandas as pd

## Object Creation

In [ ]:
s = pd.Series([1,3,4,np.nan,6,8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20130101',periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD')) #np.random.randn(fila,columna) genera una matriz fila x columna de 0 y una desviaci√≥n est√°ndar de 1

                   A         B         C         D
2013-01-01  1.234692  2.912774  0.750037 -1.218876
2013-01-02  0.852987  0.692316  0.633768  1.265729
2013-01-03  0.400355  0.367191 -1.283545 -1.457538
2013-01-04 -1.501198 -0.510490 -0.916297  0.525405
2013-01-05  0.025758  1.433713  1.109606  0.826190
2013-01-06  0.113586 -0.944401 -0.694295 -0.349092

In [ ]:
pd.DataFrame(np.random.randint(0,20,size=(5,5)),index=[i for i in range(5,10)],columns=['A','B','C','D','E'])

    A   B   C   D   E
5   4  13   8  12   0
6   8  17   0   0   5
7  12  10  12   9   9
8  12   7   9   3  17
9   0  14   0  17  16

In [12]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

## Viewing Data

In [3]:
index = pd.date_range("1/1/2000", periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])
df

                   A         B         C
2000-01-01  1.306585  1.866377 -0.569039
2000-01-02  0.340853  0.705448 -0.103779
2000-01-03 -1.153509  0.780356  0.541386
2000-01-04  1.037473  1.573459 -0.052101
2000-01-05 -1.235916 -0.196889 -0.217416
2000-01-06 -0.149585 -0.016882 -0.722609
2000-01-07 -1.066007 -0.686150  0.306349
2000-01-08 -0.544149 -0.183832  0.486914

In [4]:
df.head()

                   A         B         C
2000-01-01  1.306585  1.866377 -0.569039
2000-01-02  0.340853  0.705448 -0.103779
2000-01-03 -1.153509  0.780356  0.541386
2000-01-04  1.037473  1.573459 -0.052101
2000-01-05 -1.235916 -0.196889 -0.217416

In [5]:
df.tail(3)

                   A         B         C
2000-01-06 -0.149585 -0.016882 -0.722609
2000-01-07 -1.066007 -0.686150  0.306349
2000-01-08 -0.544149 -0.183832  0.486914

In [6]:
df.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

¬°IMPORTANTE! üö® La conversi√≥n de un dataFrame a un objeto numpy, NO incluye los √≠ndices o columnas.

In [8]:
df.to_numpy()

array([[ 1.30658525,  1.86637739, -0.56903902],
       [ 0.34085294,  0.70544835, -0.10377926],
       [-1.15350933,  0.78035569,  0.54138559],
       [ 1.03747308,  1.57345946, -0.05210125],
       [-1.23591619, -0.19688857, -0.21741615],
       [-0.14958511, -0.0168823 , -0.72260912],
       [-1.0660069 , -0.68615024,  0.30634859],
       [-0.54414872, -0.18383224,  0.48691359]])

In [10]:
print(type(df))
print(type(df.to_numpy()))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [14]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)